.menu {
    max-width: 1440px;
    margin: 0 auto;
    &__content {
        padding-bottom: 100px;
    }

    &__title {
        @extend .padding-content;
        @include adap(margin-bottom, 40, 40, 40, 33, 26);
        @include adap(font-size, 32, 32, 28, 28, 24);
        font-family: "MB";
        text-transform: uppercase;
    }

    &__complex{
        @extend .padding-content;
        @include adap(margin-bottom, 40, 40, 40, 33, 26);

        input {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            cursor: pointer;
        }

        &-text {
            @include adap(height, 47);
            @include adap(padding-top, 6);
            @include adap(padding-bottom, 6);
            @include adap(padding-left, 35);
            @include adap(padding-right, 35);
            @include adap(border-radius, 10);
            width: 176px;
            background-color: var(--grey-bg);
            color: var(--grey-c);
            @include adap(font-size, 18);
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-family: "MB";
            line-height: 120%;
            cursor: pointer;
            &:hover {
                background-color: var(--orange-c);
                color: var(--white-c);
            }
        }

        .swiper {
            overflow: visible;
            &-wrapper {
                justify-content: space-between;
                .swiper-slide:has(input:checked) {
                    .menu__complex-text {
                        text-decoration: underline;
                        color: var(--white-c);
                        background-color: var(--green-c);
                    }
                }
                .swiper-slide:last-child {
                    padding-right: 0;
                }
            }
            &-slide {
                @include adap(padding-right, 27, 27, 27, 17, 8);
                width: max-content;
                cursor: pointer;
                transition: all 0.1s linear;
            }
        }
    }
    &__wrapper-main-block {
        @extend .padding-content;
        @media (max-width: 425px) {
            padding: 0 !important;
        }  
    }
    &__main-block {
        @include adap(padding-top, 40, 40, 40, 28, 16);
        @include adap(padding-bottom, 54);
        @include adap(padding-left, 40, 40, 40, 30, 20);
        @include adap(padding-right, 40, 40, 40, 30, 20);
        width: 100%;
        @include adap(border-radius, 20);
        @media (max-width: 425px) {
            border-radius: 0;
        }  
        background-color: var(--green-c);
    }

    &__top {
        margin-bottom: 27px;
        animation: show 0.2s linear;
    }

    &__line-week {
        display: flex;
        justify-content: center;
        gap: 8px;
    }

    &__day {
        @include adap(padding-top, 12, 12, 10, 8, 5);
        @include adap(padding-bottom, 12, 12, 10, 8, 5);
        @include adap(padding-left, 23, 20, 18, 11, 3);
        @include adap(padding-right, 23, 20, 20, 11, 3);
        @include adap(border-radius, 12, 12, 12, 8, 5);
        @include adap(min-width, 35);
        display: inline-block;
        --white-c: rgba(255, 255, 255, 0.5);
        background-color: var(--white-c);
        position: relative;
        cursor: pointer;
        border: solid transparent;
        @include adap(border-width, 2);
        &:has(input:checked){
            --white-c: white;
        }

        &:hover {
            border-color:  white;
        }

        input {
            opacity: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            cursor: pointer;
        }

        &-text {
            @include adap(font-size, 16);
            text-align: center;
            font-family: "MN";
        }
    }

    &__center {
        margin-bottom: 20px;
        &-swiper {
            width: 100%;
            display: flex;
            position: relative;
        }
        &-arrow-prev,
        &-arrow-next {
            position: absolute;
            @include adap(height, 62, 62, 62, 52, 43);
            @include adap(width, 62, 62, 62, 52, 43);
            z-index: 3;
            top: 50%;
            transform: translateY(-50%);
            border: 5px solid transparent;
            @include adap(border-width, 5, 5, 5, 4, 3);
            border-radius: 50%;
            background: url("./img/Menu/arrow-circle-green.svg") center/ 100% 100% no-repeat, var(--white-c);
            transition: all 0.1s linear;
            opacity: 0.8;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
        &-arrow-prev {
            @include adap(left, -30, -30, -30, -15, 0);
            transform: translateY(-50%) rotateZ(180deg);
        }
        &-arrow-next {
            @include adap(right, -30, -30, -30, -15, 0);
        }
        &-description {
            @include adap(font-size, 16, 16, 16, 14, 14);
            line-height: 120%;
            font-family: "MR";
            color: var(--white-c);
        }

        .swiper {
            margin-bottom: 14px;
            width: 100%;
            height: 366px;
            @media (max-width: 425px) {
                overflow: visible;
            } 
            &::before {
                content: "";
                height: 100%;
                @include adap(width, 80, 80, 80, 60);
                top: 0;
                left: 0;
                @media (max-width: 425px) {
                    @include adap(left, 0, 0, 0, -30, -20);
                } 
                z-index: 2;
                display: inline-block;
                position: absolute;
                background: linear-gradient(to right ,var(--green-c), rgba(255, 255, 255, 0) 60%);
            }

            &::after {
                content: "";
                height: 100%;
                @include adap(width, 80, 80, 80, 60);
                top: 0;
                right: 0;
                @media (max-width: 425px) {
                    @include adap(right, 0, 0, 0, -30, -20);
                } 
                z-index: 2;
                display: inline-block;
                position: absolute;
                background: linear-gradient(to left ,var(--green-c), rgba(255, 255, 255, 0) 60%);
            }
            
            &-wrapper {
                align-items: flex-end;
                & * {
                    cursor: pointer;
                }
            }
            &-slide {
                height: 357px;
                width: 218px;
                border-radius: 28px;
                background-color: var(--white-c);
                position: relative;
                &::after {
                    content: attr(data-index);
                    top: -9px;
                    right: 0;
                    width: 48px;
                    height: 48px;
                    font-size: 24px;
                    line-height: 48px;
                    border-radius: 50%;
                    position: absolute;
                    display: inline-block;
                    text-align: center;
                    font-family: "MB";
                    background-color: var(--orange-c);
                    color: var(--white-c);
                }
            }
        }
        &-item {
            &-img {
            }
            &-text {
                padding-left: 15px;
                padding-right: 30px;
            }
            &-type {
                margin-bottom: 10px;
                font-size: 16px;
                text-transform: uppercase;
                font-family: "MN";
                color: var(--green-c);
            }
            &-name {
                margin-bottom: 10px;
                font-size: 16px;
                font-family: "MN";
            }
            &-info {
                font-size: 12px;
                line-height: 160%;
                font-family: "MR";
            }
            &-protein {
            }
            &-fat {
            }
            &-carbo {
            }
            &-energy {
            }
            &-weight {
            }
        }
    }

    &__bottom {
        @include adap(padding-top, 10, 10, 18, 18, 18);
        @include adap(padding-bottom, 10, 10, 14, 14, 14);
        @include adap(padding-left, 15, 15, 18, 20, 20);
        @include adap(padding-right, 15, 15, 18, 20, 20);
        border-radius: 15px;
        display: flex;
        align-items: center;
        background-color: var(--white-c);

        @media (max-width: 1080px) {
            flex-direction: column; 
            gap: 10px;
        }
        &-gd {
            display: flex;
            align-items: center;
            
            @media (max-width: 1080px) {
                flex-direction: column;
                gap: 8px;
            }
        }
        &-gd-text {
            margin-right: 16px;
            border-radius: 10px;
            width: 210px;
            padding: 6px 11px;
            background-color: var(--orange-c);
            font-size: 20px;
            line-height: 120%;
            font-family: "MB";
            text-transform: uppercase;
            text-decoration: underline;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--white-c);
            cursor: pointer;
            transition: background-color 0.1s linear;
            &:hover {
                background-color: var(--green-c);  
            }
            &::before {
                content: "";
                height: 48px;
                min-width: 48px;
                margin-right: 8px;
                display: inline-block;
                background: url("./img/Menu/menu.svg") center/ 100% 100% no-repeat;
            }
            &::after {
                content: "";
                height: 20px;
                min-width: 13px;
                margin-left: 8px;
                display: inline-block;
                background: url("./img/Menu/arrow.svg") center/ 100% 100% no-repeat;
            }
            @media (max-width: 1080px) {
                background-color: transparent;
                color: var(--green-c);
                width: max-content;
                margin-right: 0;
                padding: 0;
                &::before,
                &::after {
                    display: none;
                }
            }
        }
        &-total {
            margin-right: 22px;
            width: 90px;
            font-size: 20px;
            line-height: 120%;
            display: flex;
            flex-direction: column;
            font-family: "MR";
            @media (max-width: 1080px) {
                flex-direction: row;
                justify-content: space-between;
                margin-right: 0;
                gap: 5px;
                width: max-content;
            }
        }
        &-composition {
            margin-right: auto;
            @include adap(gap, 30, 20, 20, 24, 22);
            display: flex;
            @media (max-width: 1080px) {
                margin-right: 0;
            }
        }
        &-item {
            display: flex;
            align-items: center;
            @media (max-width: 1080px) {
                flex-direction: column;
            }
        }
        &-img {
            margin-right: 6px;
            @media (max-width: 1080px) {
                margin-right: 0;
            }
            img {
                height: 35px;
                width: 35px;
            }
        }
        &-text {
            @include adap(font-size, 16, 16, 14, 14, 14);
            line-height: 120%;
            display: flex;
            flex-direction: column;
            font-family: "MN";
            @media (max-width: 1080px) {
                align-items: center;
            }
            span {
                @include adap(font-size, 26, 26, 20, 20, 20);
                line-height: 120%;
                font-family: "MB";
            }
        }
        &-button {
            margin-left: 10px;
            &:hover {
                background-color: var(--green-c);  
                color: var(--white-c);
            }
        }
    }
}