.menu {
    &__content {
        @extend .padding-content;
    }

    &__title {
        margin-bottom: 40px;
        font-size: 32px;
        font-family: "MB";
        text-transform: uppercase;
    }

    &__complex{
        margin-bottom: 40px;
        &-text {
            font-size: 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: var(--grey-c);
            font-family: "MN";
            cursor: pointer;
            span {
                font-size: 18px;
                text-transform: uppercase;
                font-family: "MB";
                line-height: 120%;
            }
        }

        .swiper {
            &-wrapper {
                justify-content: space-between;
                gap: 27px;
                .swiper-slide:first-child {
                    background-color: var(--green-c);
                    .menu__complex-text {
                        text-decoration: underline;
                        color: var(--white-c);
                    }
                }
            }
            &-slide {
                height: 47px;
                padding: 6px 35px;
                border-radius: 10px;
                width: max-content;
                background-color: var(--grey-bg);
                cursor: pointer;
                &:hover {
                    background-color: var(--orange-c);
                    .menu__complex-text {
                        color: var(--white-c);
                    }
                }
            }
        }
    }

    &__main-block {
        padding: 40px 40px 54px;
        width: 100%;
        height: 699px;
        border-radius: 20px;
        background-color: var(--green-c);
    }

    &__top {
        margin-bottom: 27px;
    }

    &__line-week {
        display: flex;
        justify-content: center;
        gap: 8px;
    }

    &__day {
        padding: 14px 23px;
        border-radius: 12px;
        display: inline-block;
        --white-c: rgba(255, 255, 255, 0.5);
        background-color: var(--white-c);
        position: relative;
        cursor: pointer;

        &:has(input:checked){
            --white-c: white;
        }

        &:hover {
            outline: 2px solid white;
        }

        input {
            opacity: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            cursor: pointer;
        }

        &-text {
            font-family: "MN";
        }
    }

    &__center {
        margin-bottom: 20px;
        &-description {
            font-size: 16px;
            line-height: 120%;
            font-family: "MR";
            color: var(--white-c);
        }

        .swiper {
            margin-bottom: 14px;
            height: 356px;
            position: relative;
            &::before {
                content: "";
                height: 100%;
                width: 80px;
                top: 0;
                left: 0;
                z-index: 5;
                display: inline-block;
                position: absolute;
                background: linear-gradient(to right ,var(--green-c), rgba(255, 255, 255, 0) 60%);
            }

            &::after {
                content: "";
                height: 100%;
                width: 80px;
                top: 0;
                right: 0;
                z-index: 5;
                display: inline-block;
                position: absolute;
                background: linear-gradient(to left ,var(--green-c), rgba(255, 255, 255, 0) 60%);
            }



            &-wrapper {
                align-items: flex-end;
            }
            &-slide {
                height: 347px;
                width: 218px;
                border-radius: 28px;
                background-color: var(--white-c);
                position: relative;
                &::after {
                    content: attr(data-index);
                    top: -9px;
                    right: 0;
                    width: 48px;
                    height: 48px;
                    font-size: 24px;
                    line-height: 48px;
                    border-radius: 50%;
                    position: absolute;
                    display: inline-block;
                    text-align: center;
                    font-family: "MB";
                    background-color: var(--orange-c);
                    color: var(--white-c);
                }
            }
        }
    }

    &__bottom {
        height: 80px;
        padding: 10px 15px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        background-color: var(--white-c);
        &-gd {
            margin-right: 16px;
            border-radius: 10px;
            width: 207px;
            padding: 6px 11px;
            background-color: var(--orange-c);
            cursor: pointer;
            &:hover {
                background-color: var(--green-c);  
            }
        }
        &-gd-text {
            width: 100%;
            font-size: 20px;
            line-height: 120%;
            font-family: "MB";
            text-transform: uppercase;
            text-decoration: underline;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--white-c);
            cursor: pointer;
            &::before {
                content: "";
                height: 48px;
                min-width: 48px;
                margin-right: 8px;
                display: inline-block;
                background: url("./img/Menu/menu.svg") center/ 100% no-repeat;
            }
            &::after {
                content: "";
                height: 20px;
                min-width: 13px;
                display: inline-block;
                background: url("./img/Menu/arrow.svg") center/ 100% no-repeat;
            }
        }
        &-total {
            margin-right: 22px;
            width: 151px;
            font-size: 20px;
            line-height: 120%;
            display: flex;
            flex-direction: column;
            font-family: "MR";
        }
        &-composition {
            margin-right: auto;
            gap: 30px;
            display: flex;
        }
        &-item {
            display: flex;
            align-items: center;
        }
        &-img {
            margin-right: 6px;
        }
        &-text {
            font-size: 16px;
            line-height: 120%;
            display: flex;
            flex-direction: column;
            font-family: "MN";
            span {
                font-size: 26px;
                font-family: "MB";
            }
        }
        &-button {
            &:hover {
                background-color: var(--green-c);  
                color: var(--white-c);
            }
        }
    }
}