.advantage {
    @extend .padding-content;
    @include adap(padding-bottom, 67, 67, 58, 58, 50);
    max-width: 1440px;
    margin: 0 auto;
    &__title {
        @include adap(font-size, 32, 32, 28, 28, 24);
        @include adap(margin-bottom, 40, 40, 31, 31, 22);
        line-height: 120%;
        text-transform: uppercase;
        font-family: "MB";
    }
    &__list {
        @include adap(row-gap, 25);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: 768px) {
            justify-content: center;
        }
    }
    &__item {
        @include adap(width, 183, 183, 160, 140, 131);
        @include adap(gap, 11);
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 768px) {
            @include adap(width, 183, 183, 160, 200, 131);
        }
        &-img {
            @include adap(height, 83);
            @include adap(width, 83);
            border-radius: 50%;
            background-color: var(--green-c);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: box-shadow 0.1s linear;
            &:hover {
                box-shadow: 0px 0px 1.8vw 0.6vw rgba(142, 192, 56, 0.51);
            }

            img { 
                @include adap(height, 50);
                @include adap(width, 50);
            }
        }
        &-text {
            @include adap(font-size, 16, 16, 15, 14, 14);
            @include adap(width, 183, 120);
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 120%;
            text-align: center;
            font-family: "MR";
            span {
                @include adap(width, 183, 131);
                font-family: "MB";
                display: inline-block;
            }
        }
    }
}
