.advantage {
    @extend .padding-content;
    padding-bottom: 67px;
    &__content {
        
    }
    &__title {
        margin-bottom: 40px;
        font-size: 32px;
        line-height: 120%;
        text-transform: uppercase;
        font-family: "MB";
    }
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 11px;
        width: 183px;
        &-img {
            height: 83px;
            width: 83px;
            border-radius: 50%;
            background-color: var(--green-c);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-text {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            line-height: 120%;
            text-align: center;
            font-family: "MR";
            span {
                font-family: "MB";
            }
        }
    }
}
