.promotion {
    @include adap(margin-bottom, 100, 100, 100, 150, 200);
    @include adap(height, 320);
    @include adap(padding-top, 21);
    @extend .padding-content;
    background-color: var(--green-c);
    position: relative;
    &__content {
        max-width: 1440px;
        margin: 0 auto;
        @include adap(width, 400, 400, 330, 330, 280);
    }
    &__title {
        @include adap(width, 400, 400, 330, 310, 250);
        @include adap(font-size, 40, 40, 32, 32, 24);
        @include adap(margin-bottom, 22);
        line-height: 120%;
        text-transform: uppercase;
        font-family: "MB";
        color: var(--white-c);
    }
    &__text {
        @include adap(margin-bottom, 21);
        @include adap(font-size, 20, 20, 17, 17, 14);
        line-height: 120%;
        font-family: "MR";
        color: var(--white-c);
    }
    &__decor {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &-item {
            position: absolute;
            img {
                max-width: 100%;
                width: 100%;
                height: auto;
            }
        }

        &-item:nth-child(1) {
            @include adap(top, -10, -10, -10, 30, 220);
            @include adap(left, 566, 500, 400, 360, 125);
            @include adap(width, 476, 476, 476, 440, 258);
            transform: rotate(-22.69deg);
        }

        &-item:nth-child(2) {
            @include adap(top, -41, -41, -20, 80, 258);
            @include adap(left, 894, 820, 710, 1000, -106);
            @include adap(width, 738, 738, 738, 500, 413);
        }

        @media (max-width: 768px) {
            &-item:nth-child(1) {
                z-index: 2;
            }
        }
    }
}
