.promotion {
    @extend .padding-content;
    padding-top: 21px;
    padding-bottom: 31px;
    background-color: var(--green-c);
    position: relative;
    &__content {
        width: 400px;
    }
    &__title {
        margin-bottom: 22px;
        font-size: 40px;
        line-height: 120%;
        text-transform: uppercase;
        font-family: "MB";
        color: var(--white-c);
    }
    &__text {
        margin-bottom: 16px;
        font-size: 20px;
        line-height: 120%;
        font-family: "MR";
        color: var(--white-c);
    }
    &__button {
        height: 62px;
    }
    &__decor {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &-item {
            position: absolute;
            img {
                max-width: 100%;
                height: auto;
            }
        }

        &-item:nth-child(1) {
            top: -10px;
            left: 509px;
            width: 476px;
            transform: rotate(-22.69deg);
        }

        &-item:nth-child(2) {
            top: -41px;
            right: -192px;
            width: 738px;
        }
    }
}
