.area {
    &__content {
        @extend .padding-content;
        @include adap(padding-bottom, 100);
    }
    &__title {
        @include adap(margin-bottom, 40, 40, 31, 31, 22);
        @include adap(font-size, 32, 32, 28, 28, 24);
        font-family: "MB";
        text-transform: uppercase;
    }
    &__map {
        @include adap(height, 468, 468, 400, 400, 340);
        width: 100%;
    }
}

.ymaps-2-1-79-inner-panes {
    @include adap(border-radius, 22);
}
