.faq {
    &__content {
        @extend .padding-content;
        .swiper {
            @include adap(margin-bottom, 40);
            overflow: visible;
            &-wrapper {
                justify-content: space-between;
                align-items: center;
                & .swiper-slide:last-child {
                    margin-right: 0;
                }
            }
            &-slide {
                @include adap(margin-right, 20);
                @include adap(height, 165, 165, 165, 142, 120);
                @include adap(width, 182, 182, 182, 155, 131);
                @include adap(border-radius, 28);
                position: relative;
                transition: all 0.1s linear;

                &:hover:has(.faq__item-input:not(:checked)) {
                    box-shadow: 0px 0px 0.8vw 0.2vw rgba(0, 0, 0, 0.13);
                }

                .faq__item-input:checked + .faq__item {
                    box-shadow: 0px 0px 0.8vw 0.2vw var(--green-c);
                    background-color: var(--green-c);
                }

            }
        }
    }
    &__title {
        @include adap(margin-bottom, 40);
        @include adap(font-size, 32, 32, 28, 28, 24);
        font-family: "MB";
    }
    &__item {
        @include adap(gap, 22, 22, 22, 16, 10);
        @include adap(padding-top, 43, 43, 43, 40, 37);
        @include adap(border-radius, 28);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--grey-bg-2);
        transition: transform 0.1s linear;
        cursor: pointer;

        &-input {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            cursor: pointer;
        }
        &-img {
            @include adap(height, 55, 55, 55, 47, 38);
            @include adap(width, 55, 55, 55, 47, 38);
            img { 
                width: 100%;
                height: auto; 
            }
        }
        &-text {
            @include adap(font-size, 16);
            font-family: "MB";
            cursor: pointer;
        }
    }
    &__block-question {
        transition: all 0.3s linear;
    }
    &__question {
        position: relative;

        &:has(input:checked) {
            .faq__question-text {
                line-height: 120%;
                opacity: 1;
            }
            .faq__question-title {
                @include adap(margin-bottom, 15);
                color: var(--green-c);
            }

        }

        &-input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
        &-title {
            @include adap(font-size, 24, 24, 24, 21, 18);
            margin-bottom: 0;
            line-height: 120%;
            font-family: "MB";
            transition: all 0.1s linear;
        }
        &-body {
            overflow: hidden;
        }
        &-text {
            @include adap(font-size, 20, 20, 17, 14, 14);
            line-height: 0%;
            opacity: 0;
            font-family: "MR";
            transition: all 0.1s linear;
        }

        hr {
            @include adap(margin-top, 35, 35, 26, 26, 17);
            @include adap(margin-bottom, 35, 35, 26, 26, 17);
            @include adap(height, 1);
            background-color: var(--grey-bg-3);
        }
    }
}
