@import "../../public/font/fonts";
@import "./mixins/null-style";
@import "./mixins/adaptive";
@import "./mixins/components";
@import "../content/import-scss";

:root {
    --green-c: #8EC038;
    --black-c: #302929;
    --white-c: #ffffff;
    --orange-c: #FFA800;
}

img {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

#root {
    height: 100%;
    min-width: 375px;
}

html {
    scrollbar-gutter: stable;
}

body {
    background-color: var(--bg-main);
    overflow: hidden;
}

.scroll-lock {
    overflow: hidden;
}

.padding-content {
    @include adap(padding-right, 120, 70, 20);
    @include adap(padding-left, 120, 70, 20);
}
