@font-face {
  font-family: "MB";
  src: url("../../public/font/Montserrat-Bold.eot");
  src: url("../../public/font/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../../public/font/Montserrat-Bold.woff2") format("woff2"), url("../../public/font/Montserrat-Bold.woff") format("woff"), url("../../public/font/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MR";
  src: url("../../public/font/Montserrat-Regular.eot");
  src: url("../../public/font/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../../public/font/Montserrat-Regular.woff2") format("woff2"), url("../../public/font/Montserrat-Regular.woff") format("woff"), url("../../public/font/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MN";
  src: url("../../public/font/Montserrat-Medium.eot");
  src: url("../../public/font/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../../public/font/Montserrat-Medium.woff2") format("woff2"), url("../../public/font/Montserrat-Medium.woff") format("woff"), url("../../public/font/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: initial;
}

a:hover {
  text-decoration: none;
  color: initial;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
  cursor: default;
}

p {
  cursor: default;
}

address {
  font-style: normal;
}

select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.header {
  margin: 0 auto;
  width: -moz-max-content;
  width: max-content;
  height: 100px;
  background-color: var(--white-c);
}
.header__content {
  height: 100%;
  display: flex;
  align-items: center;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 57px;
  cursor: pointer;
}
.header__logo img {
  max-width: 100%;
  height: auto;
}
.header__nav {
  margin-right: 137px;
}
.header__links-row {
  display: flex;
  align-items: center;
  gap: 70px;
}
.header__link {
  font-size: 16px;
  font-family: "MN";
  cursor: pointer;
}
.header__link:hover {
  text-decoration: underline;
}
.header__link_show, .header__links-row .header__link:first-child {
  color: var(--green-c);
  text-decoration: underline;
}
.header__tel {
  margin-right: 37px;
  width: 118px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.header__tel::before {
  content: "";
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url("./img/Header/tel.svg") center/100% no-repeat;
}
.header__tel a {
  font-size: 15px;
  font-family: "MB";
}
.header__lang {
  margin-right: 50px;
  width: 47px;
  font-size: 16px;
  font-family: "MB";
  position: relative;
}
.header__lang::after {
  content: "";
  display: inline-block;
  width: 17px;
  height: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: url("./img/Header/arrow-bottom.svg") center/100% no-repeat;
}
.header__lang select {
  position: relative;
  z-index: 3;
  margin-right: 5px;
  text-transform: uppercase;
  width: 100%;
  background-color: inherit;
  cursor: pointer;
}
.header__sing-in {
  padding-left: 5px;
  height: 35px;
  width: 140px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--orange-c);
  cursor: pointer;
}
.header__sing-in:hover {
  background-color: var(--green-c);
}
.header__sing-in span {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "MB";
  color: var(--white-c);
}
.header__account-img img {
  max-width: 100%;
  height: auto;
}

:root {
  --green-c: #8EC038;
  --black-c: #302929;
  --white-c: #ffffff;
  --orange-c: #FFA800;
}

img {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

#root {
  height: 100%;
  min-width: 375px;
}

html {
  scrollbar-gutter: stable;
}

body {
  background-color: var(--bg-main);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-h);
  font-family: "TS";
  line-height: 150%;
}
@media (min-width: 1440px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 3.3333333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: calc(40px + 8 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: calc(32px + 8 * (100vw - 768px) / (1280 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: calc(32px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 375px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 32px;
  }
}

p, a, li {
  color: var(--text-p);
  font-family: "OS";
  line-height: 150%;
}
@media (min-width: 1440px) {
  p, a, li {
    font-size: 1.1111111111vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  p, a, li {
    font-size: calc(16px + 0 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  p, a, li {
    font-size: calc(16px + 0 * (100vw - 768px) / (1280 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  p, a, li {
    font-size: calc(16px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 375px) {
  p, a, li {
    font-size: 16px;
  }
}

.scroll-lock {
  overflow: hidden;
}

@media (min-width: 1440px) {
  .padding-content, .header__content {
    padding-right: 8.3333333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  .padding-content, .header__content {
    padding-right: calc(70px + 50 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  .padding-content, .header__content {
    padding-right: calc(20px + 50 * (100vw - 768px) / (1280 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .padding-content, .header__content {
    padding-right: calc(20px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 375px) {
  .padding-content, .header__content {
    padding-right: 20px;
  }
}
@media (min-width: 1440px) {
  .padding-content, .header__content {
    padding-left: 8.3333333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  .padding-content, .header__content {
    padding-left: calc(70px + 50 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  .padding-content, .header__content {
    padding-left: calc(20px + 50 * (100vw - 768px) / (1280 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .padding-content, .header__content {
    padding-left: calc(20px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 375px) {
  .padding-content, .header__content {
    padding-left: 20px;
  }
}/*# sourceMappingURL=style.css.map */