@font-face {
  font-family: "MB";
  src: url("../../public/font/Montserrat-Bold.eot");
  src: url("../../public/font/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../../public/font/Montserrat-Bold.woff2") format("woff2"), url("../../public/font/Montserrat-Bold.woff") format("woff"), url("../../public/font/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MR";
  src: url("../../public/font/Montserrat-Regular.eot");
  src: url("../../public/font/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../../public/font/Montserrat-Regular.woff2") format("woff2"), url("../../public/font/Montserrat-Regular.woff") format("woff"), url("../../public/font/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MN";
  src: url("../../public/font/Montserrat-Medium.eot");
  src: url("../../public/font/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../../public/font/Montserrat-Medium.woff2") format("woff2"), url("../../public/font/Montserrat-Medium.woff") format("woff"), url("../../public/font/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: initial;
}

a:hover {
  text-decoration: none;
  color: initial;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
  cursor: default;
}

p {
  cursor: default;
}

address {
  font-style: normal;
}

select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.my-button {
  height: 55px;
  width: 202px;
  font-size: 16px;
  border-radius: 32px;
  font-size: 16px;
  font-family: "MB";
  background-color: var(--orange-c);
  color: var(--white-c);
  position: relative;
  z-index: 5;
}
.my-button:hover {
  background-color: var(--white-c);
  color: var(--green-c);
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
}
.swiper-slide img {
  max-width: 100%;
  height: auto;
}

.header {
  width: 100%;
  height: 100px;
  background-color: var(--white-c);
  position: relative;
  z-index: 10;
}
.header__content {
  height: 100%;
  display: flex;
  align-items: center;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 57px;
  cursor: pointer;
}
.header__logo img {
  max-width: 100%;
  height: auto;
}
.header__nav {
  margin-right: 137px;
}
.header__links-row {
  display: flex;
  align-items: center;
  gap: 70px;
}
.header__link {
  font-size: 16px;
  font-family: "MN";
  cursor: pointer;
}
.header__link:hover {
  text-decoration: underline;
}
.header__link_show, .header__links-row .header__link:first-child {
  color: var(--green-c);
  text-decoration: underline;
}
.header__tel {
  margin-right: 37px;
  width: 118px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.header__tel::before {
  content: "";
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url("./img/Header/tel.svg") center/100% no-repeat;
}
.header__tel a {
  font-size: 15px;
  font-family: "MB";
}
.header__lang {
  margin-right: 50px;
  width: 47px;
  font-size: 16px;
  font-family: "MB";
  position: relative;
}
.header__lang::after {
  content: "";
  display: inline-block;
  width: 17px;
  height: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: url("./img/Header/arrow-bottom.svg") center/100% no-repeat;
}
.header__lang select {
  position: relative;
  z-index: 3;
  margin-right: 5px;
  text-transform: uppercase;
  width: 100%;
  background-color: inherit;
  cursor: pointer;
}
.header__sing-in {
  padding-left: 5px;
  height: 35px;
  width: 140px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--orange-c);
  cursor: pointer;
}
.header__sing-in:hover {
  background-color: var(--green-c);
}
.header__sing-in span {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "MB";
  color: var(--white-c);
}
.header__account-img img {
  max-width: 100%;
  height: auto;
}

.intro {
  padding-top: 40px;
  padding-bottom: 135px;
}
.intro__content {
  padding-top: 54px;
  padding-left: 102px;
  height: 440px;
  border-radius: 55px;
  background-color: var(--green-c);
  position: relative;
  top: 0;
  left: 0;
}
.intro__title {
  margin-bottom: 20px;
  width: 400px;
  font-size: 65px;
  font-family: "MB";
  line-height: 100%;
  text-transform: uppercase;
  color: var(--white-c);
}
.intro__subtitle {
  margin-bottom: 20px;
  font-size: 25px;
  font-family: "MR";
  line-height: 200%;
  color: var(--black-c);
}
.intro__img {
  position: absolute;
  top: 9px;
  right: -69px;
  max-width: 866px;
}
.intro__img img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.intro__decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.intro__decor-img {
  position: absolute;
  transition: transform 0.1s linear;
}
.intro__decor-img img {
  width: 100%;
  height: auto;
}
.intro__decor .intro__decor-img:nth-child(1) {
  top: -121px;
  left: 384px;
  width: 350px;
}
.intro__decor .intro__decor-img:nth-child(2) {
  top: 300px;
  left: -90px;
  width: 250px;
}
.intro__decor .intro__decor-img:nth-child(3) {
  bottom: -60px;
  left: 480px;
  width: 130px;
}
.intro__decor .intro__decor-img:nth-child(4) {
  top: 293px;
  right: -97px;
  width: 300px;
}

.menu__title {
  margin-bottom: 40px;
  font-size: 32px;
  font-family: "MB";
  text-transform: uppercase;
}
.menu__complex {
  margin-bottom: 40px;
}
.menu__complex input {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
}
.menu__complex-text {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--grey-c);
  font-family: "MN";
  cursor: pointer;
}
.menu__complex-text span {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "MB";
  line-height: 120%;
}
.menu__complex .swiper-wrapper {
  justify-content: space-between;
  gap: 27px;
}
.menu__complex .swiper-wrapper .swiper-slide:has(input:checked) {
  background-color: var(--green-c);
}
.menu__complex .swiper-wrapper .swiper-slide:has(input:checked) .menu__complex-text {
  text-decoration: underline;
  color: var(--white-c);
}
.menu__complex .swiper-slide {
  height: 47px;
  padding: 6px 35px;
  border-radius: 10px;
  width: -moz-max-content;
  width: max-content;
  background-color: var(--grey-bg);
  cursor: pointer;
}
.menu__complex .swiper-slide:hover {
  background-color: var(--orange-c);
}
.menu__complex .swiper-slide:hover .menu__complex-text {
  color: var(--white-c);
}
.menu__main-block {
  padding: 40px 40px 54px;
  width: 100%;
  height: 699px;
  border-radius: 20px;
  background-color: var(--green-c);
}
.menu__top {
  margin-bottom: 27px;
}
.menu__line-week {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.menu__day {
  padding: 14px 23px;
  border-radius: 12px;
  display: inline-block;
  --white-c: rgba(255, 255, 255, 0.5);
  background-color: var(--white-c);
  position: relative;
  cursor: pointer;
}
.menu__day:has(input:checked) {
  --white-c: white;
}
.menu__day:hover {
  outline: 2px solid white;
}
.menu__day input {
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
}
.menu__day-text {
  font-family: "MN";
}
.menu__center {
  margin-bottom: 20px;
}
.menu__center-description {
  font-size: 16px;
  line-height: 120%;
  font-family: "MR";
  color: var(--white-c);
}
.menu__center .swiper {
  margin-bottom: 14px;
  height: 366px;
}
.menu__center .swiper::before {
  content: "";
  height: 100%;
  width: 80px;
  top: 0;
  left: 0;
  z-index: 5;
  display: inline-block;
  position: absolute;
  background: linear-gradient(to right, var(--green-c), rgba(255, 255, 255, 0) 60%);
}
.menu__center .swiper::after {
  content: "";
  height: 100%;
  width: 80px;
  top: 0;
  right: 0;
  z-index: 5;
  display: inline-block;
  position: absolute;
  background: linear-gradient(to left, var(--green-c), rgba(255, 255, 255, 0) 60%);
}
.menu__center .swiper-wrapper {
  align-items: flex-end;
}
.menu__center .swiper-slide {
  height: 357px;
  width: 218px;
  border-radius: 28px;
  background-color: var(--white-c);
  position: relative;
}
.menu__center .swiper-slide::after {
  content: attr(data-index);
  top: -9px;
  right: 0;
  width: 48px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  text-align: center;
  font-family: "MB";
  background-color: var(--orange-c);
  color: var(--white-c);
}
.menu__center-item-text {
  padding-left: 15px;
  padding-right: 30px;
}
.menu__center-item-type {
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "MN";
  color: var(--green-c);
}
.menu__center-item-name {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "MN";
}
.menu__center-item-info {
  font-size: 12px;
  line-height: 160%;
  font-family: "MR";
}
.menu__bottom {
  height: 80px;
  padding: 10px 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  background-color: var(--white-c);
}
.menu__bottom-gd {
  margin-right: 16px;
  border-radius: 10px;
  width: 207px;
  padding: 6px 11px;
  background-color: var(--orange-c);
  cursor: pointer;
}
.menu__bottom-gd:hover {
  background-color: var(--green-c);
}
.menu__bottom-gd-text {
  width: 100%;
  font-size: 20px;
  line-height: 120%;
  font-family: "MB";
  text-transform: uppercase;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-c);
  cursor: pointer;
}
.menu__bottom-gd-text::before {
  content: "";
  height: 48px;
  min-width: 48px;
  margin-right: 8px;
  display: inline-block;
  background: url("./img/Menu/menu.svg") center/100% no-repeat;
}
.menu__bottom-gd-text::after {
  content: "";
  height: 20px;
  min-width: 13px;
  display: inline-block;
  background: url("./img/Menu/arrow.svg") center/100% no-repeat;
}
.menu__bottom-total {
  margin-right: 22px;
  width: 151px;
  font-size: 20px;
  line-height: 120%;
  display: flex;
  flex-direction: column;
  font-family: "MR";
}
.menu__bottom-composition {
  margin-right: auto;
  gap: 30px;
  display: flex;
}
.menu__bottom-item {
  display: flex;
  align-items: center;
}
.menu__bottom-img {
  margin-right: 6px;
}
.menu__bottom-text {
  font-size: 16px;
  line-height: 120%;
  display: flex;
  flex-direction: column;
  font-family: "MN";
}
.menu__bottom-text span {
  font-size: 26px;
  font-family: "MB";
}
.menu__bottom-button:hover {
  background-color: var(--green-c);
  color: var(--white-c);
}

:root {
  --green-c: #8EC038;
  --black-c: #302929;
  --white-c: #ffffff;
  --orange-c: #FFA800;
  --grey-c: #6A6A6A;
  --grey-bg: #D9D9D9;
}

img {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

#root {
  height: 100%;
  min-width: 375px;
}

html {
  scrollbar-gutter: stable;
}

body {
  background-color: var(--bg-main);
}

.scroll-lock {
  overflow: hidden;
}

@media (min-width: 1440px) {
  .padding-content, .header__content, .intro, .menu__content {
    padding-right: 8.3333333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  .padding-content, .header__content, .intro, .menu__content {
    padding-right: calc(70px + 50 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  .padding-content, .header__content, .intro, .menu__content {
    padding-right: calc(20px + 50 * (100vw - 768px) / (1280 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .padding-content, .header__content, .intro, .menu__content {
    padding-right: calc(20px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 375px) {
  .padding-content, .header__content, .intro, .menu__content {
    padding-right: 20px;
  }
}
@media (min-width: 1440px) {
  .padding-content, .header__content, .intro, .menu__content {
    padding-left: 8.3333333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  .padding-content, .header__content, .intro, .menu__content {
    padding-left: calc(70px + 50 * (100vw - 1280px) / (1440 - 1280));
  }
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  .padding-content, .header__content, .intro, .menu__content {
    padding-left: calc(20px + 50 * (100vw - 768px) / (1280 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .padding-content, .header__content, .intro, .menu__content {
    padding-left: calc(20px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 375px) {
  .padding-content, .header__content, .intro, .menu__content {
    padding-left: 20px;
  }
}/*# sourceMappingURL=style.css.map */