.my-button {
    height: 55px;
    width: 202px;
    font-size: 16px;
    border-radius: 32px;
    font-size: 16px;
    font-family: "MB";
    background-color: var(--orange-c);
    color: var(--white-c);
    position: relative;
    z-index: 5;
    &:hover {
        background-color: var(--white-c);
        color: var(--green-c);    
    }
}

