.my-button {
    @include adap(width, 202);
    @include adap(height, 55);
    @include adap(font-size, 16);
    @include adap(border-radius, 32);
    font-family: "MB";
    background-color: var(--orange-c);
    color: var(--white-c);
    position: relative;
    z-index: 3;
    transition: background-color .1s linear, color .1s linear;
    &:hover {
        background-color: var(--white-c);
        color: var(--green-c);    
    }
}

