.intro {
    @extend .padding-content;
    @include adap(padding-top, 140, 140, 129, 129, 78);
    @include adap(padding-bottom, 135, 135, 135, 150, 190);
    max-width: 1440px;
    margin: 0 auto;
    &__content {
        @include adap(padding-top, 54, 54, 40, 40, 26);
        @include adap(padding-left, 102, 102, 52, 52, 21);
        @include adap(padding-right, 102, 102, 52, 52, 21);
        @include adap(border-radius, 55, 55, 39, 39, 21);
        @include adap(height, 440);
        background-color: var(--green-c);
        position: relative;
        top: 0;
        left: 0;
    }
    &__title {
        @include adap(margin-bottom, 20, 20, 18, 18, 16);
        @include adap(width, 400, 400, 310, 310, 220);
        @include adap(font-size, 65, 65, 48, 48, 32);
        font-family: "MB";
        line-height: 100%;
        text-transform: uppercase;
        color: var(--white-c);
    }
    &__subtitle {        
        @include adap(margin-bottom, 20, 20, 18, 18, 16);
        @include adap(font-size, 25, 25, 20, 20, 16);
        font-family: "MR";
        line-height: 120%;
        color: var(--black-c);
    }
    &__button {
    }
    &__img {
        @include adap(top, 9, 9, 9, 135, 261);
        @include adap(right, -69, -90, -90, -114);
        @include adap(width, 866, 866, 650, 600, 450);
        position: absolute;
        img {
            max-width: 100%;
            width: 100%;
            height: auto;
        }
    }
    &__decor {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &-img {
            position: absolute;
            height: auto;
            z-index: 4;
            img {
                position: absolute;
                transition: left 0.3s linear, top 0.3s linear;
                width: 100%;
                height: auto;
            }
        }

        & .intro__decor-img:nth-child(1) {
            @include adap(top, -121, -100, -100, -100, 130);
            @include adap(left, 384, 384, 260, 450, 150);
            @include adap(width, 350, 350, 350, 350, 200);
            img {
                @media (max-width: 768px) {
                    transform: rotateZ(80deg);
                    transform-origin: 50% 50%;
                }
            }

        }

        & .intro__decor-img:nth-child(2) {
            @include adap(top, 300);
            @include adap(left, -90, -90, -90, -90, -300);
            @include adap(width, 250);
        }

        & .intro__decor-img:nth-child(3) {
            @include adap(top, 350, 350, 350, 350, 390);
            @include adap(left, 470, 420, 380, 220, -15);
            @include adap(width, 130, 130, 130, 130, 70);
        }

        & .intro__decor-img:nth-child(4) {
            @include adap(top, 293, 340, 340, 400, 480);
            @include adap(left, 994, 900, 680, 550, 180);
            @include adap(width, 300, 300, 300, 250, 170);
        }

    }
}
