.header {
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    &__content {
        height: 100%;
        @extend .padding-content;
        display: flex;
        align-items: center;
    }
    &__menu {
        display: flex;
        align-items: center;
    }
    &__logo {
        margin-right: 57px;
        cursor: pointer;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    &__nav {
        margin-right: 137px;
    }
    &__links-row {
        display: flex;
        align-items: center;
        gap: 70px;

        .header__link:first-child {
            @extend .header__link_show;
        }
    }
    &__link {
        font-size: 16px;
        font-family: "MN";
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    &__link_show {
        color: var(--green-c);
        text-decoration: underline;
    }
    &__tel {
        margin-right: 37px;
        width: 118px;
        display: flex;
        align-items: center;
        gap: 4px;
        &::before {
            content: "";
            display: inline-block;
            min-width: 24px;
            height: 24px;
            background: url("./img/Header/tel.svg") center/ 100% no-repeat;
        }


        a {
            font-size: 15px;
            font-family: "MB";
        }
    }
    &__lang {
        margin-right: 50px;
        width: 47px;
        font-size: 16px;
        font-family: "MB";
        position: relative;
        &::after {
            content: "";
            display: inline-block;
            width: 17px;
            height: 10px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            background: url("./img/Header/arrow-bottom.svg") center/ 100% no-repeat;
        }

        select {
            position: relative;
            z-index: 3;
            margin-right: 5px;
            text-transform: uppercase;
            width: 100%;
            background-color: inherit;
            cursor: pointer;
        }
    }
    &__sing-in {
        padding-left: 5px;
        height: 35px;
        width: 140px;
        border-radius: 32px;
        display: flex;
        align-items: center;
        gap: 20px;
        background-color: var(--orange-c);
        cursor: pointer;
        &:hover {
            background-color: var(--green-c);
        }
        span {
            font-size: 16px;
            text-transform: uppercase;
            font-family: "MB";
            color: var(--white-c);
        }
    }
    &__account-img {
        img {
            max-width: 100%;
            height: auto;
        }
    }
}
